JWT_TOKEN_DEFAULT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjAwMTAwMzEwIiwibmJmIjoxNTUzOTI2OTI2LCJleHAiOjE1NTY1MTg5MjYsImlhdCI6MTU1MzkyNjkyNn0.GR_AabYxZA6HaHpIlNwFTbGsMoL1C4OvTe4MA3u4_x8"
API_URL_ENDPOINT=http://xxxx:5000/api